.mallhead{
    background-color: #f3f0f0;
  box-shadow: 0px 2px 10px 0px #c7c6c6;
  padding: 15px;
  text-align: center;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 17px;
  line-height: 30px;
}
.mallhead2{
  text-align: center;
  padding-top: 30px;
}
.lasthead{
  text-align: center;
  margin-top: 50px;
}
.nameAmount{
  margin-left: 600px;
    margin-top: 20px;
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 40px;
}